<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/static/images/Tux.svg.png" />
    <title>CMDB Overview</title>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="/static/css/datatables/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="/static/css/datatables/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="/static/css/datatables/datatables.css" />
    <link rel="stylesheet" href="/static/css/datatables/select.dataTables.min.css" />

    <!-- Other CSS -->
    <link rel="stylesheet" href="/static/css/select2/select2.min.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/charts/charts.css" />
    

    <!-- CSS Overwrite  -->
    <link rel="stylesheet" href="/config/custom.css" />


    <!-- Core JavaScript Libraries -->
    <script src="/static/js/jquery/jquery-3.7.0.min.js"></script>
    <script src="/static/js/jquery/jquery.dataTables.min.js"></script>

    <!-- DataTables Extensions -->
    <script src="/static/js/datatables/dataTables.buttons.min.js"></script>
    <script src="/static/js/datatables/buttons.html5.min.js"></script>
    <script src="/static/js/datatables/buttons.colVis.min.js"></script>
    <script src="/static/js/datatables/dataTables.select.min.js"></script>
    <script src="/static/js/datatables/jszip.min.js"></script>

    <!-- Other Libraries -->
    <script src="/static/js/select2/select2.min.js"></script>
    <script src="/static/js/charts/chart.js"></script>
</head>

<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <img src="/static/images/Tux.svg.png" alt="Tux Linux Mascot" />
            </div>
            <h1>Ansible CMDB</h1>
        </div>
    </header>

    <main>
        <div class="charts-container">
            <div class="chart-section">
                <div class="chart-title">Operating System Distribution</div>
                <canvas id="osChart"></canvas>
                <button class="clear-filters" onclick="clearOsFilter()">Clear OS Filter</button>
            </div>
            <div class="chart-section">
                <div class="chart-title">OS Versions</div>
                <table class="version-table" id="versionTable">
                    <thead>
                        <tr>
                            <th>OS Family</th>
                            <th>Version</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Will be populated by JavaScript -->
                    </tbody>
                </table>
                <button class="clear-filters" onclick="clearVersionFilter()">Clear Version Filter</button>
            </div>
        </div>

        <button id="reset-filters">🔄 Reset all filters</button>

        <h2 class="content-heading">CMDB Content</h2>
        <hr></hr>

        <div id="selection-info">
            <span id="selected-count">0 rows selected</span>
            <button id="clear-selection">Clear Selection</button>
        </div>

        <table id="cmdbTable" class="display nowrap">
            <thead>
                <tr class="header-row">
                    <!-- Dynamic headers will be inserted here by JavaScript -->
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <!-- Filter inputs will be added here by JavaScript -->
                </tr>
            </tfoot>
        </table>
    </main>

    <div class="footer">
        <p>Made by Guido Martens</p>
    </div>

    <!-- Global Variables -->
    <script>
        var selectedOs = null;
        var selectedVersion = null;
        var mainTable = null;
    </script>

    <!-- Application JavaScript -->
    <script src="/static/js/datatables/table-utils.js"></script>
    <script src="/static/js/datatables/datatables-init.js"></script>
    <script src="/static/js/charts/charts-init.js"></script>
</body>
</html>
